.Hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  background-color: #292c35;
}

.GithubButtonStart {
  position: absolute;
  top: 0;
  right: 0;
}

.HeroContainer {
  padding: 30px;
}

.HeroTitle {
  color: var(--ifm-color-onlydark-primary);
  font-weight: bold;
  line-height: 1;
  font-size: 60px;
}

.HeroSubTitle {
  font-weight: bold;
  line-height: 1.3;
  font-size: 30px;
  color: white;
}

.HeroButton {
  background-color: var(--ifm-color-onlydark-primary);
  color: black;
}

.blackText {
  color: var(--ifm-color-onlydark-primary);
}

.blackText:hover {
  color: var(--ifm-color-onlydark-primary);
  text-decoration: underline;
}
