.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 100px;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.HeroContainer {
  padding: 30px;
}

.HeroTitle {
  color: var(--ifm-color-primary);
  font-weight: bold;
  line-height: 1;
  font-size: 60px;
}

.HeroSubTitle {
  font-size: 1.5rem;
}

.HeroContainer {
  display: flex;
  flex-direction: column;
}

.HeroButton,
.GettingStarted {
  border: double 4px transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  padding: 0;
  width: 100%;
  margin: 5px;
  transition: 0.2s;
  color: var(--ifm-hero-text-color) !important;
}

.HeroButton:hover,
.GettingStarted:hover {
  color: var(--ifm-hero-background-color) !important;
}

.HeroButton {
  background-image: linear-gradient(
      var(--ifm-hero-background-color),
      var(--ifm-hero-background-color)
    ),
    radial-gradient(circle at top left, #0198f1, #48f9c7);
}

.HeroButton:hover {
  background-image: linear-gradient(transparent, transparent),
    radial-gradient(circle at top left, #0198f1, #48f9c7);
}

.GettingStarted {
  background-image: linear-gradient(
      var(--ifm-hero-background-color),
      var(--ifm-hero-background-color)
    ),
    radial-gradient(circle at top left, #fff04d, #ff8e13);
}

.GettingStarted:hover {
  background-image: linear-gradient(transparent, transparent),
    radial-gradient(circle at top left, #fff04d, #ff8e13);
}

.HeroButton span,
.GettingStarted span {
  padding: 10px;
  display: inline-block;
  font-size: 1.6em;
}

.IntroVideoWrapper {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.IntroVideo {
  border-radius: 10px;
}

.Badges {
  text-align: center;
  margin-bottom: 200px;
  margin-top: 100px;
}
