code {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid dodgerblue;
  color: black;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

.quiz {
  background-color: grey;
  padding: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 900px) {
  div:has(img) {
    display: block !important;
    justify-content: initial;
  }

  .img-div {
    display: block !important;
    justify-content: initial;
  }

  iframe {
    width: 100%;
  }

  #lbbr {
    display: block;
  }

  #txt {
    display: none;
  }
}
