app/pythonfactory/node_modules
app/pythonfactory/.expo

app/python-factory-web-search/node_modules
app/python-factory-web-search/python-factory-web-search-*.vsix

website/.nuxt
website/node_modules
website/static/sw.js
website/plugins/apikey.js
website/todo.md
website/temp

public_html/
