code {
  border-left: 2px solid #087ea4;
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  padding: 15px;
  display: block;
}

code .ic {
  display: initial !important;
  border: none !important;
}

iframe {
  border: 0;
  outline: 0;
  border-radius: 10px;
  opacity: 0.8;
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 1.6em;
}

::selection {
  background-color: #087ea4;
  color: #fff;
}
