/*HTML style*/

html {
  scroll-behavior: smooth;
}

code {
  background: #455a64;
  border-left: 2px solid #087ea4;
  color: black;
  page-break-inside: avoid;
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 15px;
  display: block;
  word-wrap: break-word;
}

iframe {
  border: 0;
  border-radius: 10px;
}

.quiz {
  background-color: rgb(101, 100, 100);
  padding: 10px;
  border-radius: 5px;
}

/*Theme*/

.theme--dark.v-application {
  background-color: var(--v-background-base, #23272f) !important;
}

.theme--light.v-application {
  background-color: var(--v-background-base, rgb(243, 243, 243)) !important;
}
