@media screen and (max-width: 900px) {
  div:has(img) {
    display: block !important;
    justify-content: initial;
  }

  .img-div {
    display: block !important;
    justify-content: initial;
  }

  iframe {
    width: 100%;
  }

  #lbbr {
    display: block;
  }

  #txt {
    display: none;
  }
}

.to-show {
  display: none;
}

@media screen and (max-width: 390px) {
  .to-hide {
    display: none;
  }
  .to-show {
    display: block;
  }
}
