@media screen and (max-width: 900px) {
  .img-div {
    display: block !important;
    justify-content: initial;
  }
}

.to-show {
  display: none;
}

@media screen and (max-width: 390px) {
  .to-hide {
    display: none;
  }
  .to-show {
    display: block;
  }
}
