::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(123, 123, 123);
}

::-webkit-scrollbar-track {
  background: rgb(67, 66, 67);
}

::-webkit-scrollbar-thumb:hover {
  background: #0fa5d6;
}
