$btn-border-radius: 0.3rem;
$btn-icon-padding: 6px 16px;

$navigation-drawer-border-width: 0px;

$expansion-panel-active-margin: 0px;
$expansion-panel-border-radius: 10px;

$app-bar-elevation: 10;

$card-border-radius: 10px;
$card-elevation: 0;

$menu-content-border-radius: 10px;
