@import "shared";

:root {
  --brand: #61dafb;
  --dark: #282c34;
  --deepdark: #20232a;
  --light: #373940;
  --text: #1a1a1a;
  --subtle: #767676;
  --divider: #ececec;
  --tintColor: #f7f7f7;
  --rn-note-background: rgba(255, 229, 100, 0.25);
  --ifm-color-primary: #06bcee;
  --ifm-font-size-base: 17px;
  --ifm-spacing-horizontal: 16px;
  --ifm-navbar-item-padding-horizontal: 18px;
  --ifm-menu-link-padding-horizontal: 10px;
  --ifm-toc-padding-vertical: 6px;
  --ifm-toc-link-color: var(--ifm-color-emphasis-700);
  --ifm-code-font-size: 90%;
  --ifm-code-border-radius: 5px;
  --ifm-blockquote-color: var(--ifm-font-color-base);
  --ifm-blockquote-font-size: 16px;
  --ifm-table-head-color: var(--subtle);
  --ifm-link-hover-decoration: none;
  --ifm-transition-fast: 0;
  --ifm-transition-slow: 0;
  --ifm-pre-line-height: 1.5;
  --ifm-color-warning: #ffe564;
  --ifm-table-border-width: 0.005rem;
}

html[data-theme="dark"] {
  --ifm-code-background: rgba(255, 255, 255, 0.06);
  --ifm-toc-border-color: var(--dark);
  --ifm-color-emphasis-300: var(--dark);
  --ifm-hr-border-color: var(--dark);
}

[data-theme="dark"] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  --docsearch-modal-background: var(--ifm-background-color);
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
}

html[data-theme="light"] .DocSearch {
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  --docsearch-footer-background: var(--ifm-color-white);
}

.DocSearch {
  border-radius: 5px !important;
}

::marker {
  color: var(--ifm-font-color-secondary);
}

/* Navbar */

.navbar {
  .navbar__logo {
    transition: transform 0.5s;
  }

  .navbar__brand:hover .navbar__logo {
    transform: rotate(360deg);
  }
}

/* Sidebar */

aside[class^="theme-doc-sidebar-container"] {
  margin-right: 16px;
}

html[data-theme="dark"] .menu {
  @extend %scrollbar-style-dark;
}

/* Table of Contents */

div[class^="tableOfContents"] {
  min-width: 100%;
  width: 100%;

  @extend %scrollbar-style;
}

.table-of-contents {
  li {
    margin: 7px var(--ifm-toc-padding-vertical);
  }

  ul {
    padding-left: 0.35rem;

    li {
      margin: 4px var(--ifm-toc-padding-vertical);
    }
  }

  .table-of-contents__link {
    font-size: 12px;
    display: block;
  }

  .table-of-contents__link--active {
    font-weight: 500;
    margin-left: -16px;
    padding-left: 12px;
    color: var(--ifm-font-color-base);
    border-left: 4px solid var(--brand);

    &:hover {
      color: var(--ifm-font-color-base);
    }
  }
}

html[data-theme="dark"] div[class^="tableOfContents"] {
  @extend %scrollbar-style-dark;
}

button[class*="tocCollapsibleButton"] {
  color: var(--ifm-color-content-secondary);
}
