@import 'shared';

.theme-doc-footer {
  margin-top: 40px !important;
  margin-bottom: 16px !important;
  color: #767676;

  a {
    @extend %button-link-style;

    svg {
      color: var(--ifm-color-primary);
    }
  }
}

@media only screen and (min-width: 540px) and (max-width: 996px) {
  .theme-doc-footer .col {
    flex-basis: 50% !important;
    max-width: 50% !important;
  }
}

@media only screen and (max-width: 539px) {
  .theme-doc-footer .col {
    text-align: center;

    &:first-child {
      margin-bottom: 16px;
    }
  }
}
