.footer {
  .footer__title {
    color: #858a96;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 8px;
    text-transform: uppercase;
  }

  img {
    display: initial !important;
    height: 54px;
  }
}
