h3 {
  text-decoration: underline;
}

body > div > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

img {
  margin: auto;
}

#more {
  color: white;
  display: none;
}

body > div > ul > li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 13px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

button {
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 10px;
  font-size: 15px;
  background-color: #111;
  color: white;
  cursor: pointer;
}

button > a {
  color: black !important;
  margin: 30px;
  text-decoration: none;
}

p > a {
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 1000px) {
  #menu {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 90%;
  }

  button:not(#butty) {
    padding: 5px !important;
    font-size: 10px !important;
    margin: 5px !important;
  }

  div:not(#menu):not(.alert):not(#navigate):not(#introduct):not(#setting) {
    display: block !important;
    margin: 2px !important;
    padding: 2px !important;
  }

  iframe:not(#vid) {
    margin: auto !important;
    width: 100%;
    height: 400px;
  }

  #vid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  #py {
    padding: 20px !important;
    margin: 10px !important;
  }

  #main {
    padding: 10px !important;
    margin-top: 30px !important;
    text-align: center;
  }

  h1 {
    font-size: 20px !important;
  }

  ul > li {
    font-size: 10px !important;
  }

  button {
    border-radius: 5px !important;
  }

  #txt {
    display: none;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px !important;
  }

  #lbbr {
    display: block;
  }

  .menu-button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    width: 100px;
    background-color: #188754;
    color: white;
  }

  .menu-button:hover {
    background-color: white;
    color: #188754;
  }
}

ul {
  z-index: 10;
}

#men > a {
  margin: 5px;
}

#menu {
  position: absolute;
  background-color: white;
  overflow: auto;
  padding: 50px;
  top: 50px;
  list-style-type: none;
  z-index: 10;
}

#menu > details > p > a {
  display: list-item;
}

code {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid dodgerblue;
  color: black;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

div:has(iframe) {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

details {
  cursor: pointer;
}

/*Custom*/
.norm-div {
  padding: 30px;
  display: flex;
}

.sub-div {
  padding: 10px;
  margin: 10px;
}

.header-div {
  padding: 30px;
  display: flex;
  margin: 30px;
}

.newline-div {
  padding: 30px;
  margin: 30px;
}

.inner-div {
  padding: 10px;
}

.menu-div {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

.color-contrast-div {
  padding: 30px;
  margin: 30px;
  display: flex;
  background-color: black;
  color: white;
}
/*Custom*/

footer {
  background-image: url(https://developers.redhat.com/sites/default/files/styles/share/public/blog/2019/05/RHEL-python-1569314-pixabay.jpg?itok=3_MmlSKn);
  background-attachment: fixed;
  background-repeat: none;
  background-size: cover;
  padding: 50px;
  text-align: center;
  color: white;
}

/*Custom*/

@media only screen and (max-width: 700px) {
  #quiz,
  #feedback,
  #video {
    display: none;
  }

  #more {
    display: block;
  }
}

#setting {
  display: none;
}
